<% unless @networks.blank? %>
<table>
  <tr>
    <th>Name</th>
    <th># Videos</th>
    <th>Network Token</th>
    <th></th>
    <th></th>
  </tr>

<% @networks.each do |network| %>
  <tr>
    <td><%= link_to_network network %></td>
    <td><%= network.videos.count %></td>
    <td><%= network.token%></td>
    <td><%= link_to icon_update, edit_network_path(network) %></td>
    <td><%= link_to icon_destroy, network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
  <h5>no networks</h5>
<% end %>