<h4>Featured on:</h4>

<% unless @networks.blank? %>


  <table class="table">
    <tr>
      <th>Network</th>
      <th>Unique Impressions</th>
      <th>Impressions</th>
      <th>Unique Views</th>
      <th>Views</th>
      <th>Full Plays</th>
      <th>Bounces</th>
      <th>Spent</th>
    </tr>

    <% @networks.each do |n| %>
    <% views = n.count_plays(@video, unique: false) %>
      <tr>
        <!-- Network Name -->
        <td><%= link_to_network n %></td>

        <!-- Unique Impressions -->
        <td><%= n.count_impressions(@video, unique: true) %></td>

        <!-- Impressions -->
        <td><%= n.count_impressions(@video, unique: false) %></td>

        <!-- Unique Views -->
        <td><%= n.count_plays(@video, unique: true) %></td>

        <!-- Views -->
        <td><%= views %></td>

        <!-- Full Plays -->
        <td><%= n.count_plays(@video, unique: false, min_state: 4) %></td>

        <!-- Bounces -->
        <td><%= n.count_plays(@video, unique: false, max_state: 0) %></td>

        <!-- Amount spend on this network -->
        <td><%= @video.network_spending(n, views).with_symbol %></td>
        
      </tr>
    <% end %>

  </table>



<% else %>
  <p>This video has no network impressions</p>
<% end %>