<% unless @videos.blank? %>
  <table class="datatable videos-table">
    <thead>
      <tr>
        <th>Video</th>
        <th>Offered CPM</th>
        <th># Networks</th>
        <th>Rating</th>
        <th>YT Views</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @videos.each do |video| %>
        <tr>
          <!-- Video Name -->
          <td>
            <%= video.thumb_element_hover %>
            <%= content_tag :div, link_to_video(video).html_safe, class: 'thumb-title' %>
          </td>

          <!-- Offered CPM (accounting for vydia's percentage) -->
          <td><%= Money.new(Network.offered_cpm(video.cpm)).with_symbol %></td>

          <!-- Number of Networks the video is featured on -->
          <td><%= video.count_networks %></td>

          <!-- YouTube Rating on 100 scale -->
          <td><%= video.score %></td>

          <!-- YouTube View Count -->
          <td><%= video.yt_view_count %></td>

          <!-- YouTube Link -->
          <td class="crud-icons">
            <%= link_to icon_youtube, video.link, target: :_blank %>
            <%= link_to icon_update, edit_video_path(video) %>
            <%= link_to icon_destroy, video, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>


  </table>
<% else %>
  <h5>no videos</h5>
<% end %>