<% unless @videos.blank? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Offered CPM</th>
      <th># Networks</th>
      <th>YouTube Token</th>
      <th>View</th>
      <th></th>
      <th></th>
    </tr>

  <% @videos.each do |video| %>
    <tr>
      <!-- Video Name -->
      <td><%= link_to_video video %></td>

      <!-- Offered CPM (accounting for vydia's percentage) -->
      <td><%= Money.new(Network.offered_cpm(video.cpm)).with_symbol %></td>

      <!-- Number of Networks the video is featured on -->
      <td><%= video.networks.count %></td>

      <!-- YouTube String ID -->
      <td><%= video.token%></td>

      <!-- YouTube Link -->
      <td><%= link_to icon_youtube, video.link, target: :_blank %></td>
      <td><%= link_to icon_update, edit_video_path(video) %></td>
      <td><%= link_to icon_destroy, video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <h5>no videos</h5>
<% end %>