<h2><%= link_to @video.name, @video.link, target: :_blank %></h2>
<p>
  <b>Video ID:</b>
  <%= @video.video_id %>
</p>


<%= render @networks %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
