<p>
  <b>Name:</b>
  <%= @video.name %>
</p>

<p>
  <b>Video ID:</b>
  <%= @video.video_id %>
</p>

<p>
  <b>Link:</b>
  <%= link_to @video.link, @video.link, target: :_blank %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
