<!DOCTYPE html>
<html>
	<head>
		<title><%= @video.name %></title>
		<%= stylesheet_link_tag    "app_embed", :media => "all" %>
		<%= javascript_include_tag "app_embed" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>
	<body>
		
		<%= yield %>

		<%= tracking_pixel @video, @network, style: 'position:absolute; left:-999px' %>

	</body>
</html>